:root {
    --ff-primary: 'Spource Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 400;
    --fw-bold: 900;

    --clr-light: #fbf5f3;
    --clr-dark: #0F0E0E;
    --clr-accent1:rgb(16,55,75);
    --clr-accent2: #B6BE9C;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25);
} 
header, #heading{
    margin:0;
    padding: 10px;
    text-align: center;
    color:var(--clr-accent2);
    background: var(--clr-accent1);

}

*{
    margin: 0; padding: 0; box-sizing: border-box; /* reset */
}


html, body {
    height: 100%; /* restrict the page width to viewport */
}

#mainBody{
    height:100%;
}

#main{
    height:100%;
}

#mapContainer{
    height:calc(100% - 56px);
    width:100%;
    
}
#mapid {
  width: 100%;
  height: 100%;
}

.modal-content{
    height:560px;
}

.flag{
    width:50%;
    border: thin;
    box-shadow: var(--bs);
    padding:0;
    margin: 15px;
}
 

