:root {
    --ff-primary: 'Spource Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 400;
    --fw-bold: 900;

    --clr-light: #fbf5f3;
    --clr-dark: #0F0E0E;
    --clr-accent1:rgb(16,55,75);
    --clr-accent2: #B6BE9C;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),0.25em 0.25em 0.75em rgba(0,0,0,.55);
} 
header, #heading{
    margin:0;
    padding: 10px;
    text-align: center;
    color:var(--clr-accent2);
    background: var(--clr-accent1);

}

*{
    margin: 0; padding: 0; box-sizing: border-box; /* reset */
}

html, body {
    overflow: hidden;
    height: 100vh; /* restrict the page width to viewport */
}

#mainBody{
    height:65%;
}


#mapContainer{
    height:100%;
}
#mapid {
  width: 100%;
  height: 100%;
}


.flag{
    width:50%;
}
 
